/* Animation */
@keyframes getDart{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        
    }
}
@keyframes fadeIn{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
        /* display: none; */
    }
}
/* modal */

.modalx{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;



    
}
.modalxChange{
    display: block;
}
.closeModalxAnimation{
    --growth-from:1;
    --growth-to:0.2;
    animation: growth ease-in 0.5s;
    
}
.closeModalx{
    display: none;
    
}

.modal__overlay{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.3);
 
  
}
.modal__body{
    width: 80%;
    --growth-from:0.5;
    --growth-to:1;
    margin: auto;
    position: relative;
    animation: growth ease-in 0.5s;
    z-index: 3;
  
}

.product-card{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    color: black;
  
    
   
    
    
    
}
.productCard__Arr{
    border: 6px solid red;
    position: absolute;
    background-color: aliceblue;
}
.card-inner{
    display: flex;
    padding: 10px;
    
}
.image-combo{
    flex: 1;
}
.card-body{
    flex: 1;
}
.card-img-top{
    width: 150px;
}
.countInput{
    width: 40px;
    height: 30px;
    margin: 12px 7px 7px 7px;
    text-align: center;
}
.countItem{
    text-align: center;
    display: flex;
    margin-left: 14%;
    

}
.itemIcon{
    margin-top: 15px ;
    font-size: 25px;
}
.btnPlus:hover{
    transform: scale(1.1);
}
.btnMinus:hover{
    transform: scale(1.1);
}
.btnCombo{
  text-align: center;
  padding-bottom: 20px;

    
}
.btnOrderSave{
    margin-left: 30px;
}
.btnCloseCombo{
    font-size: 30px;
    margin-left: 95%;
    
}
.btnCloseCombo:hover{
    color: burlywood;
}
